<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    
  <!-- https://tomcat.apache.org/migration-8.html -->
  
  <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
  	<property name="driverClassName" value="org.h2.Driver" />
	
	<!-- H2 Connection -->
  	<property name="url" value="jdbc:h2:mem:testdb" />
  	<property name="username" value="sa" />
  	<property name="password" value="" />
	
	<!-- TEST CONNECTION -->
  	<property name="defaultTransactionIsolation" value="2" />
  	<property name="validationQuery" value="select 1" />

	<!-- ACTIVE CONNECTION -->
	<property name="maxWaitMillis" value="5000" />
  	<property name="maxIdle" value="10" />
  	<property name="minIdle" value="4" />
  	<property name="maxTotal" value="100" />
  	
  	<!-- PREVENT CONNECTION LEAKS -->
  	<property name="removeAbandonedOnBorrow" value="true" />
  	<property name="removeAbandonedOnMaintenance" value="true" />
  	<property name="removeAbandonedTimeout" value="300" />
  	<property name="logAbandoned" value="true" />
  	<property name="timeBetweenEvictionRunsMillis" value="60000" />
  </bean>
  
  <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan" value="com.generali.burritoorderingservice.com.generali.burritoorderingservice.model.entity"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.default_schema">public</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>	
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>					
			</props>
		</property>
  	</bean>

	<!-- Transaction Manager  -->
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager" abstract="false" lazy-init="default" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
    <tx:annotation-driven transaction-manager="transactionManager" />
	
</beans>